spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sportellovirtuale
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      
logging:
  level:
    org.springframework.security: DEBUG
